.advertisement {
    background-color: #772a57;
}

.list-group-item {
    transition: 0.3s;
}

.list-group-item:hover {
    translate: 10px 0px;
    border-left: 6px solid white;
}

.card {
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgb(160, 166, 168);
    border-width: 4px;
    border-radius: 10px;
    border-color: transparent;
}

.card:hover {
    translate: 0px -10px;
    box-shadow: 0px 10px 10px rgb(182, 185, 186);
    border-color: #783b6e;
}

.card.med-card-inactive:hover {
    translate: 0px;
    box-shadow: 0px 0px 5px rgb(182, 185, 186);
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #fcffe3;
}

h1,
h2,
h3,
h4,
h5,
.card-title {
    color: #3D0B37;
    font-family: "Handlee", cursive;
}

.wellness-resources {
    color: #93a957;
}

.wellness-resources-title {
    background-color: #93a957;
}

.wellness-resource-card {
    background-color: white;
}

.wellness-resource-card-dark {
    background-color: #772a57;
    border-bottom: 6px solid #3D0B37;
}

.wellness-resource-card:hover {
    background-color: #e6ffd8;
}

.btn-primary {
    background-color: #63264A;
    border-color: #63264A;
}

.btn-primary:hover {
    background-color: #3D0B37;
    border-color: #3D0B37;
}

.navbar {
    background-color: #357765;
    color: white;
    box-shadow: 0px 5px 10px rgba(109, 109, 109, 0.461);
}

footer {
    background-color: #3D0B37;
}

.page-title {
    text-decoration-line: underline;
    text-decoration-color: #93a957;
    text-underline-offset: 5px;
}

.page-title-border {
    border-bottom-style: solid;
    border-color: #7d943e;
}

.page-description {
    color: #7d943e;
    font-weight: bold;
}

.notification-urgent {
    background-color: rgb(225, 91, 91);
}

.notification-urgent:hover {
    background-color: rgb(216, 60, 60);
}

.notification-important {
    background-color: rgb(250, 166, 87);
}

.notification-important:hover {
    background-color: rgb(246, 149, 58);
}

.notification-relaxed {
    background-color: rgb(199, 226, 102);
}

.notification-relaxed:hover {
    background-color: rgb(190, 222, 76);
}

.notification-panel {
    background: rgba(0, 0, 0, 0.08);
}